# 서울시 CCTV현황 분석 및 인구 현황 분석

### CCTV 설치현황

In [2]:
import pandas as pd

In [3]:
CCTV_Seoul = pd.read_excel('../Data/CCTV_in_Seoul_2018.xlsx')
CCTV_Seoul.head()

   기관명    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강남구  5221    1944.0  195.0  316.0    430    546    765    577    448
1  강동구  1879     303.0  387.0  134.0     59    144    194    273    385
2  강북구  1265     243.0   88.0  141.0     74    145    254      1    319
3  강서구  1617     219.0  155.0  118.0    230    187    190    264    254
4  관악구  3985     430.0   56.0  419.0    487    609    619    694    671

In [4]:
CCTV_Seoul.tail()

    기관명    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
20  용산구  2063    1279.0  152.0  201.0    107    102     89     60     73
21  은평구  2962    1365.0   83.0   99.0    343    180    296    229    367
22  종로구  1471       8.0    7.0  599.0    132    195    148    281    101
23   중구  1544      25.0  165.0  114.0     80    245    270    317    328
24  중랑구  1068       NaN    NaN    NaN    770    102    121     66      9

In [5]:
CCTV_Seoul.columns

Index(['기관명', '소계', '2011년 이전', '2012년', '2013년', '2014년', '2015년', '2016년',
       '2017년', '2018년'],
      dtype='object')

In [6]:
# CCTV_Seoul의 첫번째 칼럼 확인
CCTV_Seoul.columns[0]

'기관명'

In [11]:
CCTV_Seoul.rename(columns={'기관명':'구별'}, inplace=True)
CCTV_Seoul.head()

    구별    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강남구  5221    1944.0  195.0  316.0    430    546    765    577    448
1  강동구  1879     303.0  387.0  134.0     59    144    194    273    385
2  강북구  1265     243.0   88.0  141.0     74    145    254      1    319
3  강서구  1617     219.0  155.0  118.0    230    187    190    264    254
4  관악구  3985     430.0   56.0  419.0    487    609    619    694    671

In [15]:
# NaN을 확인하고 NaN을 0으로 대체하기
CCTV_Seoul = CCTV_Seoul.fillna(value=0)

구별          0
소계          0
2011년 이전    0
2012년       0
2013년       0
2014년       0
2015년       0
2016년       0
2017년       0
2018년       0
dtype: int64

---
### 인구현황

In [41]:
# 선생님 방법
pop_seoul = pd.read_excel('../Data/population_in_Seoul_2020.xlsx', 
                          header=3,
                          usecols="B,D,G,J,N")

---

In [40]:
pop = pd.read_excel('../Data/population_in_Seoul_2020.xlsx', header=3)
pop = pop[['자치구','계','계.1','계.2','65세이상고령자']]
pop.head()

   자치구         계      계.1     계.2  65세이상고령자
0   합계  10013781  9733655  280126   1518239
1  종로구    161984   151217   10767     28073
2   중구    136469   126175   10294     23794
3  용산구    246165   229579   16586     39439
4  성동구    307193   299042    8151     44728

In [42]:
# 칼럼명 변경
pop.rename(columns={'자치구':'구별','계':'인구수','계.1':'한국인','계.2':'외국인','65세이상고령자':'고령자'}, inplace=True)

In [43]:
pop.head()

    구별       인구수      한국인     외국인      고령자
0   합계  10013781  9733655  280126  1518239
1  종로구    161984   151217   10767    28073
2   중구    136469   126175   10294    23794
3  용산구    246165   229579   16586    39439
4  성동구    307193   299042    8151    44728

In [44]:
# 합계 행을 삭제
pop.drop(index=0, inplace=True)

In [45]:
pop.head()

    구별     인구수     한국인    외국인    고령자
1  종로구  161984  151217  10767  28073
2   중구  136469  126175  10294  23794
3  용산구  246165  229579  16586  39439
4  성동구  307193  299042   8151  44728
5  광진구  365990  350417  15573  48989

### CCTV 현황

In [49]:
# CCTV에서 소계로 오름차순 정렬
CCTV_Seoul.sort_values(by='소계', inplace=True)
CCTV_Seoul.head()

     구별    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
9   도봉구   858     197.0   66.0    8.0    185     59    155    117     71
24  중랑구  1068       0.0    0.0    0.0    770    102    121     66      9
2   강북구  1265     243.0   88.0  141.0     74    145    254      1    319
22  종로구  1471       8.0    7.0  599.0    132    195    148    281    101
23   중구  1544      25.0  165.0  114.0     80    245    270    317    328

> CCTV 댓수가 적은 지역으로는 도봉구, 중랑구, 강북구, 종로구, 중구 순이다.

In [50]:
# CCTV에서 소계로 내림차순 정렬
CCTV_Seoul.sort_values(by='소계', ascending=False).head()

     구별    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0   강남구  5221    1944.0  195.0  316.0    430    546    765    577    448
4   관악구  3985     430.0   56.0  419.0    487    609    619    694    671
6   구로구  3227     852.0  219.0  349.0    187    268    326    540    486
16  성북구  3003     779.0   84.0  304.0    241    279    388    285    643
21  은평구  2962    1365.0   83.0   99.0    343    180    296    229    367

> CCTV댓수가 많은 지역으로는 강남구, 관악구, 구로구, 성북구, 은평구 순이다

In [65]:
#### 최근 3년간 CCTV증가율 구해서 CCTV 제일 많이 증가한 구를 검색후 정렬
CCTV_Seoul['최근증가율'] = CCTV_Seoul.iloc[:,6:].sum(axis=1) / CCTV_Seoul.iloc[:,2:7].sum(axis=1) *100

In [68]:
CCTV_Seoul.sort_values('최근증가율', ascending=False).head()

,구별,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,최근증가율
23,중구,1544,25.0,165.0,114.0,80,245,270,317,328,184.419714
19,영등포구,2495,132.0,121.0,206.0,217,366,289,371,793,174.568138
7,금천구,1634,27.0,17.0,242.0,101,382,136,199,530,162.158648
15,성동구,2679,665.0,109.0,118.0,101,258,201,933,294,134.772182
4,관악구,3985,430.0,56.0,419.0,487,609,619,694,671,129.585207

> 결과를 보면 최근 3년간의 CCTV가 2015년 이전에 비해 가장 많이 증가한 곳은 중구, 영등포구, 성동구, 금천구, 광진구 순이다.

---
### 인구현황

In [69]:
# 구별 Data의 유효성 확인
len(pop['구별'].unique())

25

In [70]:
pop.head()

    구별     인구수     한국인    외국인    고령자
1  종로구  161984  151217  10767  28073
2   중구  136469  126175  10294  23794
3  용산구  246165  229579  16586  39439
4  성동구  307193  299042   8151  44728
5  광진구  365990  350417  15573  48989

In [78]:
pop['외국인비율'] = pop['외국인'] / pop['인구수'] *100
pop['고령자비율'] = pop['고령자'] / pop['인구수'] *100

In [79]:
pop.head()

    구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
1  종로구  161984  151217  10767  28073  6.646953  17.330724
2   중구  136469  126175  10294  23794  7.543105  17.435462
3  용산구  246165  229579  16586  39439  6.737757  16.021368
4  성동구  307193  299042   8151  44728  2.653381  14.560228
5  광진구  365990  350417  15573  48989  4.255034  13.385338

In [81]:
# 인구수가 제일 많은 지역은 Top5
pop.sort_values(by='인구수', ascending=False).head()

     구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
24  송파구  680883  674095   6788  89539  0.996941  13.150424
16  강서구  595703  589302   6401  85992  1.074529  14.435381
23  강남구  549898  544804   5094  72602  0.926354  13.202812
11  노원구  535495  531037   4458  82682  0.832501  15.440294
21  관악구  516662  499374  17288  76664  3.346095  14.838328

In [82]:
# 외국인이 제일 많은 지역은 Top5
pop.sort_values(by='외국인', ascending=False).head()

      구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
19  영등포구  404766  371903  32863  59373  8.119012  14.668475
17   구로구  438308  405837  32471  67432  7.408261  15.384615
18   금천구  251370  232583  18787  38508  7.473843  15.319251
21   관악구  516662  499374  17288  76664  3.346095  14.838328
6   동대문구  362793  346156  16637  60367  4.585811  16.639516

In [83]:
# 외국인 비율이 높은 지역은 Top5
pop.sort_values(by='외국인비율', ascending=False).head()

      구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
19  영등포구  404766  371903  32863  59373  8.119012  14.668475
2     중구  136469  126175  10294  23794  7.543105  17.435462
18   금천구  251370  232583  18787  38508  7.473843  15.319251
17   구로구  438308  405837  32471  67432  7.408261  15.384615
3    용산구  246165  229579  16586  39439  6.737757  16.021368

In [89]:
# 고령자 정렬
pop.sort_values(by='고령자', ascending=False).head()

     구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
24  송파구  680883  674095   6788  89539  0.996941  13.150424
16  강서구  595703  589302   6401  85992  1.074529  14.435381
11  노원구  535495  531037   4458  82682  0.832501  15.440294
12  은평구  482509  478019   4490  82245  0.930553  17.045278
21  관악구  516662  499374  17288  76664  3.346095  14.838328

In [88]:
# 고령자 비율 정렬
pop.sort_values(by='고령자비율', ascending=False).head()

     구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
9   강북구  316750  312985   3765  61660  1.188635  19.466456
10  도봉구  333495  331238   2257  60023  0.676772  17.998171
2    중구  136469  126175  10294  23794  7.543105  17.435462
1   종로구  161984  151217  10767  28073  6.646953  17.330724
12  은평구  482509  478019   4490  82245  0.930553  17.045278

3조
> 영등포구가 외국인인구수, 외국인 비율이 가장 높게 나타나는 경향을 보인다.      
> 영등포구, 금천구, 구로구는 외국인 인구수와 외국인비율이 높게 나타나는 경향을 보인다.
> 은평구를 제외한 나머지 구는 고령자인구와 고령자비율이 비례하지 않는다.      
> 인구수가 많은 상위 다섯개 구 중에 4개의 구가 고령자수가 높게 나타나는 경향을 보인다.(즉 인구수와 고령자수는 비례관계를 보인다.)            
> 고령자 비율은 강북지역이 높다.      
> 인구수 상위 5개 지역구 중 4군데가 강남지역이다.

인구수가 제일 많은 지역은 송파구이지만 영등포구가 제일 외국인이 많다.   
그리고 그 근처라고 할 수 있는 구로구, 금천구 등도 굉장히 외국인이 많다.       
송파구는 고령자가 제일 많지만 고령자의 비율이 높지 않은 것이 확인된다.    
하지만 강북구, 도봉구, 중구, 종로구, 은평구 같은 경우는       
인구수 대비 고령자 비율이 많기 때문에 추후 고령화가 우려된다.

---
# CCTV와 인구현황 합치기

In [95]:
data_reault = pd.merge(CCTV_Seoul,pop, on='구별')

In [96]:
data_reault.head()

,구별,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,최근증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율
0,도봉구,858,197.0,66.0,8.0,185,59,155,117,71,78.058252,333495,331238,2257,60023,0.676772,17.998171
1,중랑구,1068,0.0,0.0,0.0,770,102,121,66,9,34.174312,400678,395619,5059,66764,1.262610,16.662757
2,강북구,1265,243.0,88.0,141.0,74,145,254,1,319,104.052098,316750,312985,3765,61660,1.188635,19.466456
3,종로구,1471,8.0,7.0,599.0,132,195,148,281,101,77.045696,161984,151217,10767,28073,6.646953,17.330724
4,중구,1544,25.0,165.0,114.0,80,245,270,317,328,184.419714,136469,126175,10294,23794,7.543105,17.435462

In [97]:
delColmn = data_reault.columns[2:10]

for i in delColmn:
  del data_reault[i]
data_reault.head()

    구별    소계       최근증가율     인구수     한국인    외국인    고령자     외국인비율      고령자비율
0  도봉구   858   78.058252  333495  331238   2257  60023  0.676772  17.998171
1  중랑구  1068   34.174312  400678  395619   5059  66764  1.262610  16.662757
2  강북구  1265  104.052098  316750  312985   3765  61660  1.188635  19.466456
3  종로구  1471   77.045696  161984  151217  10767  28073  6.646953  17.330724
4   중구  1544  184.419714  136469  126175  10294  23794  7.543105  17.435462

In [101]:
import numpy as np

In [98]:
data_reault.set_index('구별', inplace=True)

In [102]:
# 고령자 비율과 소계의 상관계수
np.corrcoef(data_reault['고령자비율'],data_reault['소계'])

array([[ 1.        , -0.44225083],
       [-0.44225083,  1.        ]])

> 고령자 비율이 낮을수록 CCTV가 적은경향이 보인다.

In [103]:
# 고령자와 소계의 상관계수
np.corrcoef(data_reault['고령자'],data_reault['소계'])

array([[1.        , 0.28638538],
       [0.28638538, 1.        ]])

> 역상관으로 보인다.    
> 고령자가 아닌 지역구에 CCTV가 많은 경향을 보일 수 있다.

In [104]:
# 외국인 비율과 소계의 상관계수
np.corrcoef(data_reault['외국인비율'],data_reault['소계'])

array([[ 1.        , -0.06215538],
       [-0.06215538,  1.        ]])

> 상관이 전혀 없어보인다.

In [105]:
# 외국인과 소계의 상관계수
np.corrcoef(data_reault['외국인'],data_reault['소계'])

array([[1.        , 0.17444235],
       [0.17444235, 1.        ]])

> 상관이 없어보인다.

In [106]:
# 인구수와 소계의 상관계수
np.corrcoef(data_reault['인구수'],data_reault['소계'])

array([[1.        , 0.38064812],
       [0.38064812, 1.        ]])

> 고령자 비율의 상관계수를 보면 역상관이 발생하고 이는 고령자가 아닌 젊은층 비율이 높은 곳에 CCTV가 많이 설치되는 경향을 보이며
> 주로 인구수와 양의 상관을 보이고 있어 CCTV 댓수는 인구수에 비례하여 증가하는 경향을 보인다.